body{
	background-color: black;
	visibility: hidden;
	font-family: 'Quattrocento Sans', sans-serif; 
	font-weight: 100;
	}
	
#about{font-family: 'Quattrocento Sans', sans-serif; 
	   font-weight: 100;
	   color:#f710ef;
	   font-size:16px;
	   position: absolute;
	   top:20px;
	   right:20px;
	   text-decoration: none;
	   z-index: 2000;}
	   
#about:hover{text-decoration: underline;}

#thegoods{
	padding: 10px; 
	width: 1233px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -30px;	
	z-index: 500;
	}
		
   
#logo {
	position: relative;
	top:40px;
	left:70px;
	z-index: 9;
	}		
		
.square {
	position:relative;
	padding: 0;
	margin:0px;
	width:307px;
	height:307px;
    }

.box {
	position:absolute;
	left:5px;
	bottom:10px;
	height: 50px;
	width:290px;
	opacity: .7;
	background: black;
	border-radius: 7px;
	display: inline;
	overflow: hidden;
    }
    
    
.box{
	transition:height .25s;
	-moz-transition:height .25s; /* Firefox 4 */
	-webkit-transition:height .25s; /* Safari and Chrome */
	-o-transition:height .25s; /* Opera */
	}
	

.boxtop {
	position:relative;
	left:5px;
	top:4px;
	height: 30px;
	width:290px;
	opacity: .7;
	background: black;
	border-radius: 7px;
	display: none;
    }
                
.boxtop .genre{
	color:#f710ef;
	font-size: 20px;
	position: relative;
	top:4px;
	left:7px;
	display: block;
	text-align: center;
	width:280px;
	height:20px;
	padding-right: 5px;
	}
		
.boxtop{
	transition:width .25s ease;
	-moz-transition:width .25s ease; /* Firefox 4 */
	-webkit-transition:width .25s ease; /* Safari and Chrome */
	-o-transition:width .25s ease; /* Opera */
	}	
			
.img1 {
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 10px;
    }
		
h1{ 
	top:5px;
	left:10px;
	font-size: 20px;
	margin:0px;
	width:280px;
	height:15px;
	}
	
h2, h4, h5, .smallname, .smalltitle, h1, .smalldesc{
	font-weight: 100;
	position: relative;
	color:#a3a8a4;
	}	
		
h2{
	top:14px;
	left:10px;
	font-size: 13px;
	margin:0px;
	width:280px;
	height:15px;
	}
		
h4{
	top: 2px;
	left: 10px;
	font-size: 13px;
	width: 270px;
	height:40px;
	text-align:justify;
	}
	
.smallname{
	top:7px;
	left:10px;
	font-size: 16px;
	margin:0px;
	width:280px;
	height:15px;
	}
		
.smalltitle{
	top:7px;
	left:10px;
	font-size: 13px;
	margin:0px;
	width:280px;
	height:15px;
	}	
	
.smalldesc{
	top: 9px;
	left: 10px;
	font-size: 13px;
	width: 270px;
	height:40px;
	text-align:justify;
	line-height: 1px;
	}
	
.buttons{
	position: relative;
	left:-12px;
	bottom:1px;
	float: left;
	}


		
.buttons, x:-moz-any-link {
	position: relative;
	bottom:-10px;
	left:10px;
	}
	
.player{
	position: relative;
bottom: -7px;
left: 6px;
top: 14.5px;
left: 24px;
width: 220px;
display: block;
	}
    		
.player, x:-moz-any-link {
	left: 33px;
    top: 15px;
	}
							 
.download{
	position: relative;
	top: -24px;
	left: 18px;
	margin:0px;
	width:20px;
	display: block;
	}	
	
.download, x:-moz-any-link {
	left: -11px;
    margin: 10px;
    top: -19px;
	}

.download:hover{
	opacity:.8;
	}



#filters {
	background-color: #252525;
	position:fixed;
	display: inline-block;
	left: -259px;
	top:149px;
	z-index: 1000;
	margin: 0px;
	height: 39px;
	width: 266px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	cursor: default;
		  }

h5{
	top:-30px;
	left:40px;
	font-size: 20px;
	margin:0px;
	width:190px;
	}
	
#filters h5{
	top:-30px;
	left:40px;
	font-size: 20px;
	margin:0px;
	width:190px;
	color:white;
	}

#filters.fixed {
	position: fixed;
	top:0px;
	left: inherit;
	}	

#filters ul li {
	list-style:none;
	margin:0px 0;
	display: inline-block;
	}
	
#filters ul{
	position: relative;
	top: -22px;
	left: -39px;
	margin: 0px;
	}
					
.my-custom-button {
	padding: 10px;
	border: 0px;
	margin-bottom: -4px;
	width: 237px;
	height: 20px;
	background: url(../img/metal-buttons.png)0 45px;
	color: #787676;	 
	}
		
.my-custom-button.selected {
	background: url(../img/metal-buttons.png);
	color:#f710ef;
	}
 
						   
.close {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: black;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 10px;
	z-index: 100;
	}

.close:hover {
	background-color: white;
	color: black;
	}

#toggle{
	text-align: right;
	position: relative;
	top: 0px;
	left: 239px;
	background-color: #252525;
	height: 39px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	width: 60px;
	cursor: default;
	}
		
#toggle:hover #gear{
	opacity: .75;
	}


#filters ul label{
	position: relative;
	left:0px;
	top:0px;
	}

#gear{
	position: relative;
	top: 5px;
	left: -2px;}
	
#shufflebuttons{
	background-color: #252525;
	border-radius: 10px;
	height:35px;
	width:80px;
	position: relative;
	top:-20px;
	left:1px;
	}	
	
#shuffle{
	position: relative;
	top: 2px;
	left: 5px;
	display: block;
	height:30px;
	width:45px;
	}
	
#original-order{
	position: relative;
	top: 2px;
	left: 5px;
	display: none;
	height:30px;
	width:45px;
	}
	
.onshuffle, .offshuffle{
	position: relative;
	top: -21px;
	left: 53px;
	font-size: 16px;
	}
	
.onshuffle{	
	display: none;
	color:#f710ef;
	}	
	
.offshuffle{
	display: block;
	color:#787676;
	}
	
.facebook{position: relative;
		  top:0px;
		  left:0px;
		  z-index:1;
		  height:29px;
		  width:29px;
		  opacity: .8;
		  border-radius: 15px;}
		  
.twitter{position: relative;
 		 top:-29px;
 		 left:55px;
 		 z-index: 3;
 		 height:29px;
		 width:29px;
		 opacity: .8;
		 border-radius: 15px;}
 		 
.email{position: relative;
 		 top:-58px;
 		 left:110px;
 		 z-index: 3;
 		 height:29px;
		 width:29px;
		 opacity: .8;
		 border-radius: 15px;}
		 
.googleplus{position: relative;
 		 top:-87px;
 		 left:165px;
 		 z-index: 3;
 		 height:29px;
		 width:29px;
		 opacity: .8;
		 border-radius: 15px;}
		 
.social{position: absolute;
		top:66px;
		right:81px;
		display: none;
		width:151px;}
		
.fab_button{background: url(../img/socialbuttons2.png)0 -416px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.fab_button:hover{background: url(../img/socialbuttons2.png)1px -465px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.twi_button{background: url(../img/socialbuttons2.png)0 -514px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.twi_button:hover{background: url(../img/socialbuttons2.png)0 -564px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		 
.email_button{background: url(../img/socialbuttons2.png)0 -618px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.email_button:hover{background: url(../img/socialbuttons2.png)0 -672px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
.googleplus_button{background: url(../img/socialbuttons2.png)0 -720px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.googleplus_button:hover{background: url(../img/socialbuttons2.png)0 -770px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
#globalcontrols{position: fixed;
		  bottom:0px;
		  right:10px;
		  background-color: black;
		  opacity: .9;
		  height:74px;
		  width:160px;
		  z-index: 1000;
		  border-radius: 15px;
		  display: none;
		  }
		   
#globalforward{background: url(../img/controls.png)0 0px;
		   height:40px;
		   width:40px;
		   position: relative;
		   top:6px;
		   left:111px;}
		   
#globalback{background: url(../img/controls.png)0 -40px;
		   height:40px;
		   width:40px;
		   position: relative;
		   top:-34px;
		   left:0px;}
		   
#globalplay{background: url(../img/controls.png)0 39px;
		height: 40px;
		width: 40px;
		position: relative;
		top: 0px;
		left: 0px;
		display:none;}
		   
#globalpause{background: url(../img/controls.png)0 80px;
		   height: 40px;
			width: 40px;
			position: relative;
			top: 0px;
			left: 0px;
		   display:block;}
		   
#globalplaypause{height:40px;
		   width:40px;
		   position: relative;
		   top:-73px;
		   left:55px;
		   display: block;}
		   
.controlstitle{font-size: 20px;
			   color:#f710ef;
			   position: relative;
			   top:5px;
			   left:12px;}