html {overflow-y:scroll;}
html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}

:focus {outline: 0;}
body {
	line-height: 1;
	color: #000;
	background: #fff;
	font-family: 'Amatic SC', cursive;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells:show;
	}
caption, th, td {
	text-align: left;
	font-weight: normal;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	assets: " ";
}
blockquote, q {
	quotes: "" "";
	display: none;
}
textarea {overflow-y:auto;}

/* ----------------------------------------------------------
BASE STYLES
------------------------------------------------------------ */

hr {display: none;}
.clear {clear: both;}
.left {float: left;}
.right {float: right;}
.hide {display: none;}
.empty {visibility: hidden;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* [type]------------------------------------------------------------------ */
strong {font-weight: bold;}
em {font-style: italic;}
small {font-size: 11px;}

p, address, .adr {margin-bottom: 10px; line-height: 18px;}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

/* H1 is generally used for logo & that's it */
h1,h2 {
	font-size: 26px;
	line-height: 36px;
  	margin-bottom: 20px;
	}
h3 {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
	}
h4 {
	font-size: 14px;
	line-height: 18px;
	}

h5,h6 {
	font-size: 12px;
	line-height: 18px;
	}

/* generic, generally for use within assets */
ul, ol {
  margin: 20px 0;
  padding-left: 16px;
  list-style-position: inside;
  list-style-type: disc;
}
ol {list-style-type: decimal;}

dl {
  margin: 20px 0;
}
dl dt {
  font-weight: bold;
}
table {margin-bottom:20px;}
blockquote {
  margin: 0 0 20px 0;
  padding: 0 20px;
  font-style: italic;
  display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Inspire Well - 1.0.0
	Premium Tumblr Theme
	http://inspirewell.tumblr.com
	Author: Jonathan Moore - http://jonathanmoore.com | inspirewell@newezra.com
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	
	Below is an index for the structure of the stylesheet for Inspire Well.
	
	For more details, theme changes, support, and more visit:
	http://inspirewell.tumblr.com
	
	0 - Body
	**
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	
/*******************************************************************************************************
	0 - Body
*******************************************************************************************************/
body {
	color: #2c2c2c;
	font-weight: normal;
	font-size: 12px;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	background-color: #777;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
	padding: 30px 20px;
}

/* centers and sets the main width of the site */
a,a:link,a:visited {
	color: #26b262;
}
a:hover,a:active,a:focus {
	text-decoration: none;
}
:focus {
	outline: none;
}
::selection {
	color: #fff;
	background: #26b262;
}
::-moz-selection {
	color: #fff;
	background: #26b262;
}
/*- fluid images and objects ----------*/
img {max-width: 100%;}
/*******************************************************************************************************
	1 - Overall
*******************************************************************************************************/
#overall {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.overall_col {
	padding-bottom: 100px;
	display: block;
	position: absolute;
	top: 0;
	margin-left: 275px;
}
.permalink_page #overall {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
.details {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 275px;
}
body.permalink_page .details {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
body.permalink_page #overall .post {
	display: block;
	position: absolute;
	top: 0;
	left: 275px;
}

/*******************************************************************************************************
	2 - Box (sizes)
*******************************************************************************************************/
.box {
	display: block;
	width: 500px;
	padding: 5px;
	background: #fff;
	margin: 0 0 10px 10px;
	padding-bottom: 15px;
}
div.box img {
	max-width: 100%;
}
div.t_xs {
	width: 225px;
}
div.t_xs img {
	max-width: 100%;
}
.permalink_page div.t_xs.post {
	width: 500px;
}
.permalink_page div.t_xs.post img {
	max-width: 100%;
}
div.t_xl {
	width: 775px;
}
div.t_xl img {
	max-width: 100%;
}

#loading {
	display: none;
	position: fixed;
	bottom: 80px;
	left: 0;
	right: 0;
	width: 340px;
	margin-left: auto;
	margin-right: auto;
}
#loading .loader {
	display: block;
	-moz-box-shadow: 0px 0px 16px #333;
	-webkit-box-shadow: 0px 0px 16px #333;
	box-shadow: 0px 0px 16px #333;
	height: 20px;
}

#loading h2 {
	margin: 0;
}
.details {
	display: block;
}
.info .info_img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}
.info h1 {                                              
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0 0 10px 0;
	padding-top: 0;
}
.info h1 a {
	color: #2c2c2c;
	text-decoration: none;
}
.info h1 a:hover {
	color: #26b262;
}
.info .icon {
	float: left;
	padding-top: 4px;
	margin: 0 10px 0 0;
}
.info {
	overflow: auto;
}
.info h2, .liked_posts h2, h2.meta_title {
	clear: left;                                       
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0 0 10px 0;
	padding: 10px 0 4px 0;
	border-bottom: 1px dotted #d5d5d5;
}
h2.meta_title {
	margin-top: 20px;
}
.info ul.pages {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.info ul.pages li {
	font-style: italic;
	margin: 0 0 10px 0;
}
.info .author img {
	float: left;
	margin-right: 12px;
}
.info .author p {
	padding: 12px 0 0 0;
}
.info .twitter_wrap {
	display: block;
	padding: 0 0 10px 0;
	background: #26b262 url(http://static.tumblr.com/fftf9xi/5MHl5z36k/answer_question_bg.png) bottom left no-repeat;
}
.info .twitter_wrap p {
	padding: 10px;
	margin: 0;
	color: #fff;
	font-style: italic;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	border-bottom: 1px dotted #fff;
	word-wrap: break-word;
}
.info .twitter_wrap p:last-child {
	border-bottom: none;
}
.info .twitter_wrap p a {
	color: #fff;
}
.info .twitter_wrap p em {
	font-size: 10px;
}
.info .twitter_wrap p em a {
	text-decoration: none;
}
.info p.twitter_by {
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
}
.info p.twitter_by a {
	color: #2c2c2c;
	text-decoration: none;
	opacity: 0.6;
}
.info p.twitter_by a:hover {
	color: #26b262;
	opacity: 1;
}
html.ie6 .info p.twitter_by .timeago, html.ie7 .info p.twitter_by .timeago, html.ie8 .info p.twitter_by .timeago {
	display: none;
}
.info .flickr ul {
	list-style-type: none;
	margin: 0;
	padding-left: 18px;
}
.info .flickr li {
	float: left;
	margin: 0 14px 10px 0;
}
.info .flickr li:nth-child(2n+2) {
	margin-right: 0;
}
.info .flickr img {
	margin-top: 4px;
	height: 75px;
	width: 75px;
	background: #bbbbbb;
}
.info .flickr a img {
	border: 6px solid #bbbbbb;
}
.flickr a:hover img {
	border: 6px solid #26B262;	
}
.flickr p {
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
}
.flickr p a {
	color: #2c2c2c;
	text-decoration: none;
	opacity: 0.6;
}
.flickr p a:hover {
	color: #26b262;
	opacity: 1;
}
.info ul.social {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.info ul.social li {
	float: left;
	margin: 0 5px 5px 0;
}
.info ul.social li a {
	display: block;
	height: 20px;
	width: 20px;
	opacity: 0.6;
	text-indent: -9999px;
}
.info ul.social li a:hover {
	opacity: 1;
}
.info ul.social:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.info ul.social li.social_behance a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) 0 0; }
.info ul.social li.social_cargo a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -20px 0; }
.info ul.social li.social_delicious a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -40px 0; }
.info ul.social li.social_digg a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -60px 0; }
.info ul.social li.social_dribbble a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -80px 0; }
.info ul.social li.social_ember a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -100px 0; }
.info ul.social li.social_etsy a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -120px 0; }
.info ul.social li.social_facebook a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -140px 0; }
.info ul.social li.social_ffffound a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -160px 0; }
.info ul.social li.social_flickr a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -180px 0; }
.info ul.social li.social_gowalla a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -200px 0; }
.info ul.social li.social_lastfm a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -220px 0; }
.info ul.social li.social_linkedin a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -240px 0; }
.info ul.social li.social_skype a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -260px 0; }
.info ul.social li.social_slideshare a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -280px 0; }
.info ul.social li.social_stumbledupon a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -300px 0; }
.info ul.social li.social_twitter a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -320px 0; }
.info ul.social li.social_vimeo a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -340px 0; }
.info ul.social li.social_youtube a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -360px 0; }
.info ul.social li.social_email a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -380px 0; }
.info ul.social li.social_forrst a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -400px 0; }
.info ul.social li.social_soundcloud a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -420px 0; }
.info ul.social li.social_formspring a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -440px 0; }
.info ul.social li.social_foursquare a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -460px 0; }
.info ul.social li.social_deviantart a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -480px 0; }
.info ul.social li.social_website a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -500px 0; }
.info ul.social li.social_rdio a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -520px 0; }
.info ul.social li.social_myspace a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -540px 0; }
.info ul.social li.social_google a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -560px 0; }
.info ul.social li.social_spotify a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -580px 0; }
.info ul.social li.social_pinterest a { background: url(http://static.tumblr.com/fftf9xi/F36lp889e/social_icons.png) -600px 0; }

.liked_posts ul#likes {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.liked_posts ul#likes li {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	display: block;
	border-bottom: 1px dotted #d5d5d5;
	line-height: 18px;
}
.liked_posts .like_video {
	display: block;
	width: 225px;
}
.post_info_bottom {
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
	margin: 4px 0 0 0;
	display: block !important;
	color: #2c2c2c;
	text-decoration: italic;
}
.post_info_bottom a {
	font-weight: bold;
	color: #2c2c2c;
	text-decoration: none;
	opacity: 0.6;
	text-decoration: normal;
}
.post_info_bottom a:hover {
	color: #26b262;
	opacity: 1;
}



/*******************************************************************************************************
	3 - Post Content
*******************************************************************************************************/
.post h2, .post h3 {                                              
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0 0 10px 0;
	padding-top: 2px;
}
.post .post_caption p:first-child b:first-child, .post .post_caption p:first-child strong:first-child {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0 0 10px 0;
	padding-top: 2px;
}
.post .post_caption blockquote {
	font-style: normal;
	border-left: 1px dotted #d5d5d5;
}
.post p {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	display: none;
}
.post img {
	height: auto;
}
.post .thumbnail {
	margin: 0 0 -20px 0;
}
.thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	background: #eee;
}
.thumbnail .overlay {
	position: absolute;
	bottom: -32px;
	right: 0;
	width: 140px;
	height: 30px;;
	z-index: 50;
	display: block;
}

.t_cars{background-color: black;}
.t_bike{background-color: yellow;}
.t_girl{background-color: green;}
.t_video{background-color: red;}
.t_art{background-color: blue;}

.thumbnail a .thumbnail_link {
	position: absolute;
	top: 0px;
	left: 0;
	width: 29px;
	height: 29px;
	display: block;
	background: url(http://www.audiblecoffee.com/tumblr/imgs/link.png) center center no-repeat;
	text-indent: -9999px;
	opacity: 0.5;
	/*
	-moz-transition: opacity .5s ease 0;
	-webkit-transition: opacity .5s ease 0;
	-o-transition: opacity .5s ease 0;
	transition: opacity .5s ease 0;
	*/
}
.thumbnail a:hover .thumbnail_link {
	opacity: 1;
}
a.thumbnail_lightbox {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	height: 40px;
	width: 40px;
	background: url(http://static.tumblr.com/fftf9xi/fZUl5z3to/icon_thumbnail_lightbox.png) bottom right no-repeat;
	text-indent: -9999px;
	z-index: 60;
	opacity: 0.5;
	/*
	-moz-transition: opacity .5s ease 0;
	-webkit-transition: opacity .5s ease 0;
	-o-transition: opacity .5s ease 0;
	transition: opacity .5s ease 0;
	*/
}
a.thumbnail_lightbox:hover {
	opacity: 1;
}
.thumbnail img {
	display: block;
	margin: 0 auto;
	background: #777;
	width: 100%;
}
div.video .content_wrap {
	display: block;
	margin: 0 0 -20px 0;
}

.t_xs .video_placeholder {
	width: 225px !important;
	height: 168px !important;
	line-height: 168px !important;
}
.t_xl .video_placeholder {
	width: 775px !important;
	height: 580px !important;
	line-height: 580px !important;
}
.link .content_wrap {
	
}
.link .content_wrap p {
	color: #fff;
}
.link .content_wrap p a {
	color: #fff;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: #26b262 url(http://static.tumblr.com/fftf9xi/dKHl5z3x4/link_wrapper_bg.png) center right no-repeat;
	display: block;
	padding: 20px 48px 20px 20px;
	text-decoration: none;
}
.link .content_wrap p a:hover {
	color: #fff;
	background: #2c2c2c url(http://static.tumblr.com/fftf9xi/dKHl5z3x4/link_wrapper_bg.png) center right no-repeat;
}
.link .content_wrap p a strong {
	padding-right: 50px;
}
div.link .post_caption img {
	max-width: 100%;
}

.post_caption{display: none;}

div.link.t_xs .post_caption img {
	max-width: 100%;
}
div.link.t_xl .post_caption img {
	max-width: 100%;
}
.quote .content_wrap {
	display: block;
	margin: 0 0 10px 0;
	background: #26b262;
}
.quote .content_wrap p {
	padding: 10px 30px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

.quote .content_wrap p .quote_start {
	line-height: 32px;
	margin-left: -20px;
	float: left;
	font-size: 28px;
}
.quote .content_wrap p .quote_end {
	line-height: 32px;
	margin-right: -20px;
	float: right;
	font-size: 28px;
}
.chat ul.transcript {
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
	list-style: none;
}
.chat ul.transcript li p {
	margin-bottom: 10px;
}
.chat ul.transcript li p strong {
	font-style: italic;
}
div.audio .content_wrap_embed {
	width: 250px;
	height: 330px;
	float: left;
	margin: 0 20px 10px 0;
}
body.permalink_page div.audio.t_xs .content_wrap_embed {
	width: 250px;
	height: 330px;
	float: left;
	margin: 0 20px 10px 0;
}
div.audio.t_xs .content_wrap_embed {
	width: 225px;
	height: 330px;
	overflow: hidden;
	float: none;
	margin: 0 0 10px 0;
}
div.audio.t_xl .content_wrap_embed {
	width: 250px;
	height: 330px;
	float: left;
	margin: 0 20px 10px 0;
}
div.audio .content_wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 0 10px 0;
}
div.audio .content_wrap .player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: url(http://static.tumblr.com/fftf9xi/5z9l5z37z/audio_player_bg.png) center center no-repeat;
	z-index: 50;
}
div.audio .content_wrap .player span {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	overflow: hidden;
	height: 28px;
	width: 28px;
	margin-top: -13px;
	margin-left: -13px;
}
div.audio .content_wrap .album_art {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 75px;
	background: #bbbbbb;
}

div.text .content_wrap {
	font-size: 13px;
	line-height: 20px;
}
div.text .content_wrap h2 {
	font-size: 18px;
	line-height: 22px;
	padding-top: 0;
}
body.index_page div.text.t_xs .content_wrap {
	font-size: 12px;
	line-height: 18px;
}
body.index_page div.text.t_xs .content_wrap h2 {
	font-size: 12px;
	line-height: 18px;
	padding-top: 2px;
}
body.index_page div.text.t_xs .content_wrap img {
	max-width: 100%;
	height: auto;
}
div.text.t_xl .content_wrap img {
	float: left;
	margin: 0 20px 20px 0;
}
div.text.t_xl .content_wrap strike img {
	float: right;
	margin: 0 0 20px 20px;
}
.answer .content_wrap {
	display: block;
	padding: 0 0 10px 0;
	background: #26b262 url(http://static.tumblr.com/fftf9xi/5MHl5z36k/answer_question_bg.png) bottom left no-repeat;
}
.answer .content_wrap p {
	padding: 10px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}
.answer .asker {
	float: left;
	margin: 2px 6px 0 0;
}
.answer h2 a {
	text-decoration: none;
}
.answer h2 a:hover {
	text-decoration: none;
}
.answer .post_caption {
	clear: both;
}
.loader .content_wrap p {
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #777777;
	font-weight: bold;
	text-transform: uppercase;
	background: url(http://static.tumblr.com/fftf9xi/BEAl5z3i2/icon_loading.gif) center right no-repeat;
	display: block;
	padding: 0 20px 0 0;
	margin: 0;
	text-decoration: none;
}
.post_credit, .author small {
	color: #bbb;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	display: block;
	padding: 0 0 6px 0;
}
.post_credit a, .author small a {
	text-decoration: none;
}
.post_credit img {
	display: inline;
}

/*******************************************************************************************************
	4 - Meta Data
*******************************************************************************************************/
.meta {
	display: none;
	clear: both;
}
.meta:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
ul.post_type {
	position: relative;
	bottom: -7px;
	right: 33px;
	z-index: 1000;
}
ul.post_type li {
	float: right;
	margin-left: 4px;
}
ul.post_type li a {
	display: block;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	opacity: 0.5;
}
ul.post_type li a:hover {
	opacity: 1;
}
div.answer ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/Chdl5z3dc/icon_answer.png) 0 0;
}
div.audio ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/QXql5z3f2/icon_audio.png) 0 0;
}
div.chat ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/cL2l5z3gd/icon_chat.png) 0 0;
}
div.link ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/n1ul5z3hl/icon_link.png) 0 0;
}
div.photo ul.post_type li a, .photoset ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/gfEl5z3kn/icon_photo.png) 0 0;
}
div.quote ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/cG7l5z3lv/icon_quote.png) 0 0;
}
div.text ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/kxEl5z3t1/icon_text.png) 0 0;
}
div.video ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/bUbl5z3wm/icon_video.png) 0 0;
}
ul.post_type li.type_reblog a {
	background: url(http://www.audiblecoffee.com/tumblr/imgs/arrows.png) 0 0 !important;
	height:25px;
	width:25px;
}
p.author {
	font-size: 10px;
}
ul.tags {
	margin: 6px 0 0 0;
	padding: 0 0 0 14px;
	list-style-type: none;
	background: url(http://static.tumblr.com/fftf9xi/adwl5z3sd/icon_tags.png) 0 0 no-repeat;
	padding-bottom: 10px;
	border-bottom: 1px dotted #d5d5d5;
}
ul.tags li {
	display: inline;
	font-style: italic;
	font-size: 10px;
	line-height: 14px;
}
ul.tags li.tt_xs, ul.tags li.tt_xl {
	display: none;
}
ul.tags li:after {
	content: ", ";
} 
ul.tags li:last-child:after {
	content: "" !important;
}
ul.tags li.tt_xs:after, ul.tags li.tt_xl:after {
	content: "";
}
ul.time, ul.utils {
	font-size: 10px;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 0;
	list-style-type: none;
}
ul.utils li {
	float: left;
	margin-left: 10px;
	display: block;
}
ul.time li a, ul.utils li a {
	color: #2c2c2c;
	text-decoration: none;
	opacity: 0.6;
	display: block;
	height: 18px;
}
ul.time li a:hover, ul.utils li a:hover {
	color: #26b262;
	opacity: 1;
}
ul.time li.timeago a {
	padding: 1px 0 0 16px;
	background: url(http://static.tumblr.com/fftf9xi/GCtl5z3ut/icon_timeago.png) 0 0 no-repeat;
	height: 12px;
	display: block;
}
ul.time {
	float: left;
}
ul.utils {
	float: right;
}
ul.utils li.notes a {
	padding: 1px 0 0 18px;
	background: url(http://static.tumblr.com/fftf9xi/Hkml5z3k3/icon_notes.png) 0 0 no-repeat;
	height: 12px;
}
ul.utils li.comments a {
	padding: 1px 0 0 18px;
	background: url(http://static.tumblr.com/fftf9xi/vMHl5z3gx/icon_comments.png) 0 0 no-repeat;
	height: 12px;
}
ul.utils li.share {
	position: relative;
	display: block;
}
ul.utils li.share a {
	padding: 1px 16px 0 0;
	background: url(http://static.tumblr.com/fftf9xi/Ea3l5z3pt/icon_share.png) right 0 no-repeat;
	height: 20px;
	margin-bottom: -8px;
}
.share_links_wrapper {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.share_links_wrapper a.share_this_over {
	color: #26b262;
	opacity: 1;
	background: #3300bb;
}
.share_links {
	height: 110px;
	width: 206px;
	display: block;
	position: absolute;
	top: 20px;
	left: -143px;
	z-index: 100;
	background: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 6px 4px #333;
	-webkit-box-shadow: 0 6px 4px #333;
	box-shadow: 0 6px 4px #333;
}
.share_links input {
	margin: 10px;
	width: 180px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.search_form {
	margin: 0 0 0 0;
	padding: 0;
}
.search_form .button {
	padding: 0;
	float: right;
	opacity: 0.6;
}
.search_form .button:hover {
	opacity: 1;
}
.search_text {
	padding: 0;
	margin: 0 0 0 0;
	width: 190px;
	height: 18px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.share_links a {
	background-color: transparent !important;
}
.share_links .share-twitter {
	display: block;
	position: absolute;
	left: 10px;
}
.share_links .share-facebook {
	display: block;
	position: absolute;
	left: 96px;
}
.share_links .share-gplus {
	display: block;
	position: absolute;
	left: 10px;
	top:70px;
}
.share_links .share-pinterest {
	display: block;
	position: absolute;
	left: 96px;
	top:70px;
}


.share_links_bar {
	margin: 10px 0 0px 0;
	padding: 8px 0 0px 0;
	border-top: 1px dotted #d5d5d5;
}
.share_links_bar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
.share_links_bar .share_links_url {
	float: right;
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 0;
	list-style-type: none;
	opacity: 0.6;
}
.share_links_bar .share_links_url input {
	margin: 1px 0 0 0;
	width: 144px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 1;
}
.share_links_bar .share-pinterest {
	margin-top: 8px;
}
.share_links_bar .share-button {
	display: inline-block;
}

ol.notes {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}
ol.notes li {
	font-size: 11px;
	line-height: 18px;
	overflow: auto;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	display: block;
	border-bottom: 1px dotted #d5d5d5;
}
ol.notes li span {
	margin-top: 4px;
	display: block;
}
ol.notes li blockquote {
	font-size: 10px;
	padding: 2px 10px;
	margin: 6px 10px;
	border-left: 1px dotted #d5d5d5; /* lightest grey */
}
ol.notes li .action {
	margin: 0 0 0 26px;
}
ol.notes li img {
	float: left;
	margin: 0 10px 0 0;
	padding: 2px 0 0 0;
}
#dsq-community h3 {
	margin: 0 !important;
	padding: 0 !important;
}

.util_footer {
	z-index: 99999999;
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	text-transform: lowercase;
	-moz-box-shadow: -2px 0px 16px #333;
	-webkit-box-shadow: -2px 0px 16px #333;
	box-shadow: -2px 0px 16px #333;
}

ul.page_nav, ul.tumblr_nav {
	font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 12px 0 0 0;
	padding: 0;
	list-style-type: none;
}

ul.page_nav {
	float: left;
	margin-left: 40px;
}
ul.tumblr_nav {
	float: right;
	margin-right: 40px;
}
ul.page_nav li, ul.tumblr_nav li {
	float: left;
}
ul.page_nav li a, ul.tumblr_nav li a {
	color: #2c2c2c;
	text-decoration: none;
	opacity: 0.6;
	display: block;
}
ul.page_nav li a:hover, ul.tumblr_nav li a:hover {
	color: #26b262;
	opacity: 1;
}
ul.page_nav li {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #d5d5d5;
}
ul.page_nav li.page_top a {
	padding: 2px 0 1px 16px;
	background: url(http://static.tumblr.com/fftf9xi/8pFl5z3ve/icon_top.png) 0 2px no-repeat;
	height: 16px;
}
ul.page_nav li.page_previous a {
	padding: 2px 0 1px 16px;
	background: url(http://static.tumblr.com/fftf9xi/Sqxl5z3le/icon_previous.png) 0 2px no-repeat;
	height: 16px;
}
ul.page_nav li.page_next a {
	padding: 2px 0 1px 16px;
	background: url(http://static.tumblr.com/fftf9xi/LIHl5z3jn/icon_next.png) 0 2px no-repeat;
	height: 16px;
}
ul.tumblr_nav li {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px dotted #d5d5d5;
}
ul.tumblr_nav li.tumblr_rss a {
	padding: 2px 0 1px 16px;
	background: url(http://static.tumblr.com/fftf9xi/cril5z3nk/icon_rss.png) 0 2px no-repeat;
	height: 16px;
}
ul.tumblr_nav li.tumblr_random a {
	padding: 2px 0 1px 16px;
	background: url(http://static.tumblr.com/fftf9xi/Oqzl5z3mb/icon_random.png) 0 2px no-repeat;
	height: 16px;
}
ul.tumblr_nav li.tumblr_archive a {
	padding: 2px 0 1px 18px;
	background: url(http://static.tumblr.com/fftf9xi/T0Jl5z3dv/icon_archive.png) 0 2px no-repeat;
	height: 16px;
}
ul.tumblr_nav li.tumblr_ask a {
	padding: 2px 0 1px 16px;
	background: url(http://static.tumblr.com/fftf9xi/9XSl5z3eg/icon_ask.png) 0 2px no-repeat;
	height: 16px;
}
ul.tumblr_nav li.tumblr_submit a {
	padding: 2px 0 1px 18px;
	background: url(http://static.tumblr.com/fftf9xi/Ivkl5z3rt/icon_submit.png) 0 2px no-repeat;
	height: 16px;
}
ul.tumblr_nav li.tumblr_theme a {
	padding: 2px 0 1px 0;
	height: 16px;
	color: #26b262;
	opacity: 1;
}

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#777777;}

#colorBox{}
    #cboxContent {
	background:#fff; padding:20px; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:16px; left:0px; text-align:center; width:100%; color:#999;
			font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
			font-size: 12px;
			font-weight: bold;
			position:absolute;
			display:block;
			color: #2c2c2c;
			text-decoration: none;
			opacity: 0.6;
		}
        #cboxCurrent{position:absolute; bottom:18px; left:60px; color:#999;
			font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
			font-size: 10px;
			font-weight: bold;
			position:absolute;
			display:block;
			color: #2c2c2c;
			text-decoration: none;
			opacity: 0.6;
		}
        #cboxSlideshow{position:absolute; bottom:20px; right:42px; color:#444;}
        #cboxPrevious{
			position:absolute; bottom:15px; left:20px; color:#444;
			display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr;
			background: url(http://static.tumblr.com/fftf9xi/Sqxl5z3le/icon_previous.png) 0 2px no-repeat;
			height: 16px;
			width: 16px;
		}
        #cboxNext{
			position:absolute; bottom:15px; left:40px; color:#444;
			display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr;
			background: url(http://static.tumblr.com/fftf9xi/LIHl5z3jn/icon_next.png) 0 2px no-repeat;
			height: 16px;
			width: 16px;
		}

        #cboxLoadingOverlay{background:url(http://static.tumblr.com/fftf9xi/VC4l5z3at/loading.gif) 5px 5px no-repeat #fff;}
        #cboxClose{
			font-family: "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
			font-size: 10px;
			font-weight: bold;
			position:absolute;
			bottom:18px;
			right:20px;
			display:block;
			color: #2c2c2c;
			text-decoration: none;
			opacity: 0.6;
		}
		#cboxClose.hover {
			color: #26b262;
			opacity: 1;
		}

.QOverlay {}
.QLoader {
	z-index: 99999999;
	width: 100%;
	height: 6px;
	position: fixed;
	bottom: 34px;
	left: 0;
	background: #26b262;
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape){
	body { margin-top: 40px; }
	.util_footer { top: 0; left: 0; }
	.page_top { display: none; }
	#loading { position: absolute; top: 60px; left: 285px; }
	.QLoader { top: 34px; left: 0; }
	#tumblr_controls { top: 46px !important; }
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait){
	body { margin-top: 40px; }
	.util_footer { top: 0; left: 0; }
	.page_top { display: none; }
	#loading { position: absolute; top: 60px; left: 285px; }
	.QLoader { top: 34px; left: 0; }
	#tumblr_controls { top: 46px !important; }
}
/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* =============================================================================
    Style Hatch Modal - Customimze Menu
    ========================================================================== */
#stylehatch-modal {
	display: block;
	z-index:9001;
	height: 36px;
	padding: 8px 16px;
	-moz-box-shadow: inset 0 1px 0px rgba(100,100,100, 1);
	-webkit-box-shadow: inset 0 1px 0px rgba(100,100,100, 1);
	border: 1px solid #000000;
	position: fixed;
	bottom: 56px;
	right: 16px;
	width: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: "Helvetica Neue", sans-serif !important;
	background: url(http://static.tumblr.com/fftf9xi/QUOlvhklt/modal.png);
}
#stylehatch-modal:after{
	content: "";
	z-index: -1;
	position: absolute;
	margin: -6px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.2;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: 6px solid #000000;
}
#stylehatch-modal .logo, #stylehatch-modal .theme, #stylehatch-modal .links {
	float: left;
	height: 36px;
	display: block;
}
#stylehatch-modal .logo {
	padding-right: 16px;
	margin-right: 16px;
	background: url(http://static.tumblr.com/fftf9xi/ESJlvhkmb/sep.png) center right no-repeat;
	width: 56px;
	height: 36px;
}
#stylehatch-modal .theme {
	margin-top: 1px;
	padding-right: 16px;
	margin-right: 16px;
	background: url(http://static.tumblr.com/fftf9xi/ESJlvhkmb/sep.png) center right no-repeat;
}
#stylehatch-modal .theme h6 {
	display: block;
	margin: 0 0 4px 0;
	font-weight: normal;
	font-size: 11px;
	line-height: 11px;
	color: #9b9b9b;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.4);
}
#stylehatch-modal .theme h2 {
	display: inline-block;
	width: auto;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
	font-family: "Helvetica Neue", sans-serif !important;
	text-transform: none;
}
#stylehatch-modal .modal-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 3px 0;
	padding: 5px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.7), 1px 1px 2px rgba(0,0,0, 0.5), inset 0 -1px 1px rgba(0,0,0, 0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.7), 1px 1px 2px rgba(0,0,0, 0.5), inset 0 -1px 1px rgba(0,0,0, 0.1);
	-moz-transition: .1s ease;
	-o-transition: .1s ease;
	-webkit-transition: .1s ease;
	position: relative;
}
#stylehatch-modal .modal-btn.demo {
	color: #0f586f;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
	background: rgb(39,199,224);
	background: -moz-linear-gradient(top,  rgba(39,199,224,1) 0%, rgba(34,180,214,1) 50%, rgba(25,150,197,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,199,224,1)), color-stop(50%,rgba(34,180,214,1)), color-stop(100%,rgba(25,150,197,1)));
	background: -webkit-linear-gradient(top,  rgba(39,199,224,1) 0%,rgba(34,180,214,1) 50%,rgba(25,150,197,1) 100%);
	background: -o-linear-gradient(top,  rgba(39,199,224,1) 0%,rgba(34,180,214,1) 50%,rgba(25,150,197,1) 100%);
	background: -ms-linear-gradient(top,  rgba(39,199,224,1) 0%,rgba(34,180,214,1) 50%,rgba(25,150,197,1) 100%);
	background: linear-gradient(top,  rgba(39,199,224,1) 0%,rgba(34,180,214,1) 50%,rgba(25,150,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27c7e0', endColorstr='#1996c5',GradientType=0 );
	margin-right: 8px;
}
#stylehatch-modal .modal-btn.demo:hover {
	color: #d7f1f9;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.9);
	background: rgb(28,157,186);
	background: -moz-linear-gradient(top,  rgba(28,157,186,1) 0%, rgba(24,135,164,1) 50%, rgba(18,99,126,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,157,186,1)), color-stop(50%,rgba(24,135,164,1)), color-stop(100%,rgba(18,99,126,1)));
	background: -webkit-linear-gradient(top,  rgba(28,157,186,1) 0%,rgba(24,135,164,1) 50%,rgba(18,99,126,1) 100%);
	background: -o-linear-gradient(top,  rgba(28,157,186,1) 0%,rgba(24,135,164,1) 50%,rgba(18,99,126,1) 100%);
	background: -ms-linear-gradient(top,  rgba(28,157,186,1) 0%,rgba(24,135,164,1) 50%,rgba(18,99,126,1) 100%);
	background: linear-gradient(top,  rgba(28,157,186,1) 0%,rgba(24,135,164,1) 50%,rgba(18,99,126,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c9dba', endColorstr='#12637e',GradientType=0 );
}
#stylehatch-modal .modal-btn.support {
	color: #627734;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
	background: rgb(199,218,129);
	background: -moz-linear-gradient(top,  rgba(199,218,129,1) 0%, rgba(179,205,109,1) 50%, rgba(151,187,81,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,218,129,1)), color-stop(50%,rgba(179,205,109,1)), color-stop(100%,rgba(151,187,81,1)));
	background: -webkit-linear-gradient(top,  rgba(199,218,129,1) 0%,rgba(179,205,109,1) 50%,rgba(151,187,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(199,218,129,1) 0%,rgba(179,205,109,1) 50%,rgba(151,187,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(199,218,129,1) 0%,rgba(179,205,109,1) 50%,rgba(151,187,81,1) 100%);
	background: linear-gradient(top,  rgba(199,218,129,1) 0%,rgba(179,205,109,1) 50%,rgba(151,187,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7da81', endColorstr='#97bb51',GradientType=0 );	
}
#stylehatch-modal .modal-btn.support:hover {
	color: #e7f5c9;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.9);
	background: rgb(148,179,84);
	background: -moz-linear-gradient(top,  rgba(148,179,84,1) 0%, rgba(126,151,71,1) 50%, rgba(94,113,53,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,179,84,1)), color-stop(50%,rgba(126,151,71,1)), color-stop(100%,rgba(94,113,53,1)));
	background: -webkit-linear-gradient(top,  rgba(148,179,84,1) 0%,rgba(126,151,71,1) 50%,rgba(94,113,53,1) 100%);
	background: -o-linear-gradient(top,  rgba(148,179,84,1) 0%,rgba(126,151,71,1) 50%,rgba(94,113,53,1) 100%);
	background: -ms-linear-gradient(top,  rgba(148,179,84,1) 0%,rgba(126,151,71,1) 50%,rgba(94,113,53,1) 100%);
	background: linear-gradient(top,  rgba(148,179,84,1) 0%,rgba(126,151,71,1) 50%,rgba(94,113,53,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94b354', endColorstr='#5e7135',GradientType=0 );
}
#stylehatch-modal .modal-btn:active {
	top: 1px;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 2px 2px rgba(255,255,255, 0.5), 1px 2px 4px rgba(0,0,0, 0.8), inset 0 -2px 2px rgba(0,0,0, 0.3);
	-webkit-box-shadow: inset 0 2px 2px rgba(255,255,255, 0.5), 1px 2px 4px rgba(0,0,0, 0.8), inset 0 -2px 2px rgba(0,0,0, 0.3);
}
.customize-embed:before {
	content: "Flash Disabled in Customize Mode";
	height: 24px;
	width: 100%;
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: 0;
	font-weight: normal;
	font-size: 11px;
	color: #AAAAAA;
	font-family: "Helvetica Neue", sans-serif !important;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
	letter-spacing: 1px;
}
.customize-embed {
	-moz-box-shadow: inset 0 1px 0px rgba(100, 100, 100, 1);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
	background: rgb(51,51,51);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
}
.customize-embed iframe, .customize-embed embed, .customize-embed object {
	display: none;
}
.customize-audio {
	display: block;
	height: 27px;
	width: 207px;
	background-image: url(http://static.tumblr.com/fftf9xi/r0blwhruz/audio-players.png);
}
.customize-audio.white {
	background-position: 0px 0px;
}
.customize-audio.grey {
	background-position: 0px -27px;
}
.customize-audio.black {
	background-position: 0px -54px;
}
.customize-audio embed {
	display: none;
}

/* =============================================================================
    Style Hatch - Media
    ========================================================================== */
	
	

@media only screen
and (max-width: 759px) {
.box, .permalink_page .box {
	width: 225px !important;
}
.details, body.permalink_page .details {
	padding-bottom: 0 !important;
}
.tumblr_nav, body.permalink_page .tumblr_nav{
	display:none;
}
.overall_col,  .details, body.permalink_page .details, body.permalink_page .overall_col{
    position: relative;
	margin-left: 0;
}
.overall_col, body.permalink_page .overall_col{
	padding-bottom: 0px;
}
.util_footer, body.permalink_page .util_footer{
	position: static;
	width: 265px ;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	padding:0px;
	margin-left: 10px;
}
body, body.permalink_page{
	padding:10px 17px !important;
}
#tumblr_controls, body.permalink_page{
	top: 10px !important;
	right:25px !important;
}
#overall .post, body.permalink_page #overall .post{
visibility: visible !important;
position: relative !important;
left: auto !important;
top:auto !important;
}
}

@media only screen 
and (min-width: 480px) and (max-width: 767px) {
.box, body.permalink_page .box {
	width: 385px !important;
}
.details, body.permalink_page .details {
	padding-bottom: 0 !important;
	width: 385px !important;
}
#overall .post, body.permalink_page #overall .post {
visibility: visible;
}
.util_footer, body.permalink_page .util_footer {
	width: 425px ;
}
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.util_footer, body.permalink_page .util_footer{
		position: static;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		padding:0px;
		
	}
	#overall_inner .box, body.permalink_page .box {
		display: block;
		width: 500px;
	}
	body.permalink_page .box {
		width: 500px !important;
	}
	div.t_xl {
		width: 650px !important;
	}
	div.t_xs {
		width: 225px !important;
	}
	div.audio .content_wrap_embed, body.permalink_page div.audio .content_wrap_embed {
		width: 250px;
		height: auto;
		float: left;
		margin: 0 20px 10px 0;
	}
	.info, body.permalink_page .info{
		width: 225px !important;
	}
	#tumblr_controls, body.permalink_page{
		top: 10px !important;
		right:25px !important;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.util_footer, body.permalink_page .util_footer{
		position: static;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		padding:0px;
		
	}	
	#overall_inner .box {
		width: 400px;
	}
	body.permalink_page .box {
		width: 400px !important;
	}
	body.permalink_page #overall .post {
	position: absolute !important;
	top: 0px !important;
	left: 275px !important;
	}
	div.t_xl {
		width: 400px;
	}
	div.t_xs {
		width: 400px;
	}
	.info, body.permalink_page .info{
		width: 225px !important;
	}
	div.audio .content_wrap_embed, body.permalink_page div.audio .content_wrap_embed {
		width: 250px;
		height: auto;
		float: left;
		margin: 0 20px 10px 0;
	}
	#tumblr_controls, body.permalink_page{
		top: 10px !important;
		right:25px !important;
	}
}