body{
	background-color: black;
	visibility: hidden;
	font-family: 'Quattrocento Sans', sans-serif; 
	font-weight: 100;
	margin:0;
	}
#repeats{position: absolute;
		 height:30px;
		 width:36px;
		 top:9px;
		 left:8px;}
		
#repeaton{
	background: url(../img/repeats.png)0 -30px;
	height: 27px;
	width: 34px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	opacity: 1;
	}

#repeatoff{
	background: url(../img/repeats.png)0 0px;
	height: 27px;
	width: 34px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	opacity: 1;
	}


.container{
	top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width:320px;
	left:0px;
	}
	
.thegoods{
	top:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width:320px;
	left:0px;
	}
		
#header{
		background-color:#252525;
		position: fixed;
		top: 0px;
		margin:0;
		height: 40px;
		width: 100%;
		z-index: 3000;
		border-bottom: 1px solid white;
		}	
		
#headerbutton{
		background: url(../img/button.png);
		background-repeat: no-repeat;
		position: fixed;
		top: 6px;
		left:14px;
		height: 40px;
		width:43px;
		z-index: 4000;
		}	
		
#headphonebutton{
		background: url(../img/headphone_button.png);
		background-repeat: no-repeat;
		position: fixed;
		top: 6px;
		right:14px;
		height: 40px;
		width:43px;
		z-index: 4000;
		display: none;
		}	
	
.instructions{position: relative;
			  top: 46px;
			  left:78px;
			  font-size: 19px;
			  color: #f710ef;
			  width:162px;}	

#audiocontrols{position: fixed;
			   bottom:0px;
			   background-color: black;
			   width:320px;
			   height:44px;
			   z-index: 3000;
			   display: none;}
	
#sharelink{
		background: url(../img/share.png);
		position: absolute;
		top: 10px;
		left:5px;
		height: 15px;
		width:48px;
		z-index: 40;
		}	

.headername{position: relative;	
			top:10px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			color: white;
			font-size: 20px;
			width:152px;}
		
.square {
	position:relative;
	float: left;
	padding: 0;
	margin:0px;
	width:150px;
	height:150px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 5px;
    }
    
.dropdownsquare {
	position:relative;
	margin-left: auto;
	margin-right:auto;
	display:block;
	width:300px;
	height:300px;
    top:56px;}


.box {
	position:absolute;
	left:0px;
	bottom:0px;
	height: 30px;
	width:150px;
	opacity: .7;
	background: black;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	display: inline;
	overflow: hidden;
    }
	
			
.img1 {
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	height:150px;
	width:150px;
    }
    
.img2 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	border-radius: 5px;
	height:300px;
	width:300px;
	display: block;
	opacity: 1;
    }
    
.date{position: relative;
	top:0px;
	left:10px;
	font-size:18px;
	margin:0px;
	width:280px;
	height:15px;
	}

.datespace{
	width: 44px;
	height: 40px;
	position: relative;
	top: 6px;}
		
h1{ 
	top:4px;
	left:-2px;
	font-size: 10px;
	margin:0px 0px 0px 4px;
	width:150px;
	height:15px;
	}
	
h2, h4, h5, .smallname, .smalltitle, h1, .smalldesc, .date{
	font-weight: 100;
	position: relative;
	color:#a3a8a4;
	}	
		
h2{
	top:2px;
	left:-2px;
	font-size: 9px;
	margin:0px 0px 0px 4px;
	width:150px;
	height:15px;
	}
.dropdownbox {
	position:absolute;
	left:5px;
	bottom:10px;
	height: 134px;
	width:290px;
	opacity: .7;
	background: black;
	border-radius: 15px;
	display: inline;
	overflow: hidden;
    }


.boxtop {
	position:absolute;
	left:5px;
	top:10px;
	height: 30px;
	width:290px;
	opacity: .7;
	background: black;
	border-radius: 15px;
	display: block;
    }
                
.boxtop .genre{
	color:#f710ef;
	font-size: 20px;
	position: relative;
	top:4px;
	left:10px;
	display: block;
	text-align: center;
	width:280px;
	height:20px;
	padding-right: 5px;
	}

			
.img1 {
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 10px;
    }
    
.date{position: relative;
	top:0px;
	left:10px;
	font-size:18px;
	margin:0px;
	width:280px;
	height:15px;
	}

.datespace{
	border-right: 1px solid #848484;
	width: 44px;
	height: 40px;
	position: relative;
	top: 6px;}
		
.dropdownartist{ 
	top:-32px;
	left:48px;
	font-size: 14px;
	margin:0px 0px 0px 4px;
	width:280px;
	height:15px;
	}
	
h2, h4, h5, .smallname, .smalltitle, h1, .smalldesc, .date{
	font-weight: 100;
	position: relative;
	color:#a3a8a4;
	}	
		
.dropdowntitle{
	top:-25px;
	left:48px;
	font-size: 13px;
	margin:0px 0px 0px 4px;
	width:280px;
	height:15px;
	}

h4, x:-moz-any-link {line-height: 14px;}
		
h4{
	top: -38px;
	left: 10px;
	font-size: 13px;
	width: 270px;
	height:40px;
	text-align:justify;
	}

.player{
	position: relative;
	top:16.5px;
	left:23px;
	width:220px;
	display: block;
	}
    		
.player, x:-moz-any-link {
	left:17px;
	}

#roast {
	background-color: #252525;
	z-index: 1000;
	margin: 0px;
	height: 39px;
	width: 246px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;	
	cursor:pointer;
	position: relative;
	top:39px;
	text-decoration: none;
	color:white;
		  }
		  
#roastbutton{
	background-color: #252525;
	z-index: 1000;
	margin: 0px;
	height: 39px;
	width: 259px;
	border-radius: 10px;	
	cursor: pointer;
	position: relative;
	top:39px;
	text-decoration: none;
		  }

#roastbutton, x:-moz-any-link{top:0px;
							  width:258px;}
		  
#roastbutton:hover{
		text-decoration: none;
		}
		  
#filters{	
		position:fixed;
		display: none;;
		left: -312px;
		top:2px;
		width: 306px;
		z-index: 1000;
		cursor: default;}

#filters, x:-moz-any-link{width:256px;}
	
#filters h5{
	top:10px;
	left:40px;
	font-size: 20px;
	margin:0px;
	width:190px;
	color:white;
	text-decoration: none;
	}
	
#filters.fixed {
	position: fixed;
	top:0px;
	left: inherit;
	}	

#filters ul li {
	list-style:none;
	margin:0px 0;
	display: inline-block;
	}
	
#filters ul li:active{
	opacity: .8;
	}


	
#filters ul{
	position: relative;
	top: 39px;
	left: -39px;
	margin: 0px;
	}
					
.my-custom-button {
	padding: 7px;
	border: 0px;
	margin-bottom: -4px;
	width: 247px;
	height: 21px;
	background: url(../img/mobile_buttons.png)0 -45px;
	color: #787676;	
	border-radius: 10px; 
	}
		
.my-custom-button.selected {
	background: url(../img/mobile_buttons.png)0 -1px;
	border-radius: 10px;
	color:#f710ef;
	}
 
#toggle{
	text-align: right;
	position: relative;
	top: 0px;
	left: 258px;
	background-color: #252525;
	height: 39px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	width: 48px;
	cursor: default;
	}
	
#toggle:hover{cursor: pointer;}

#toggle, x:-moz-any-link{left:256px;}
							  		
#toggle:hover #gear{
	opacity: .75;
	}


#filters ul label{
	position: relative;
	left:0px;
	top:0px;
	}

#gear{
	position: relative;
	top: 1px;
	left: 1px;
	}
	
#shufflebuttons{
background-color: black;
border-radius: 10px;
height: 31px;
width: 80px;
position: absolute;
bottom: 8px;
right: -25px;
z-index: 1000;
display: block;
	}	
	
#shuffle{
	position: relative;
	top: 2px;
	left: 5px;
	display: block;
	height:30px;
	width:45px;
	}
	
#original-order{
	position: relative;
	top: 2px;
	left: 5px;
	display: none;
	height:30px;
	width:45px;
	}
	
.onshuffle, .offshuffle{
	position: relative;
	top: -21px;
	left: 53px;
	font-size: 16px;
	}
	
.onshuffle{	
	display: none;
	color:#f710ef;
	}	
	
.offshuffle{
	display: block;
	color:#787676;
	}
	

#globalcontrols{position: absolute;
		  bottom:5px;
		  left:82px;
		  background-color: black;
		  opacity: 1;
		  height:34px;
		  width:100%;
		  z-index: 1000;
		  border-radius: 15px;
		  display: block;
		  }
		   
#globalforward{background: url(../img/controls.png)0 -1px;
		   height:32px;
		   width:40px;
		   position: relative;
		   top:2px;
		   left:111px;
		   opacity: 1;}
		   
#globalforward:hover{opacity: 1;}

#globalforward:active{
    color: #FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}
		   
#globalback{background: url(../img/controls.png)0 -30px;
		   height:32px;
		   width:40px;
		   position: relative;
		   top:-34px;
		   left:9px;
		   opacity: 1;}
		   
#globalback:hover{opacity: 1;}
		   
#globalplay{background: url(../img/controls.png)0 -101px;
		height: 32px;
		width: 40px;
		position: relative;
		top: 0px;
		left: 0px;
		display:none;
		opacity: 1;}
		
#globalplay:hover{opacity: 1;}

#globalpause{background: url(../img/controls.png)0 -69px;
		   height: 32px;
			width: 40px;
			position: relative;
			top: 0px;
			left: 0px;
		   display:block;
		   opacity: 1;}
		   
#globalpause:hover{opacity: 1;}
		   
#globalplaypause{height:40px;
		   width:40px;
		   position: relative;
		   top:-64px;
		   left:59px;
		   display: block;}

.facebook{position: absolute;
		  top:0px;
		  left:0px;
		  z-index:1;
		  height:49px;
		  width:49px;
		  opacity: .8;
		  border-radius: 15px;}
		  
.twitter{position: absolute;
 		 top:0px;
 		 left:75px;
 		 z-index: 3;
 		 height:49px;
		 width:49px;
		 opacity: .8;
		 border-radius: 15px;}
 		 
.email{position: absolute;
 		 top:0px;
 		 left:150px;
 		 z-index: 3;
 		 height:49px;
		 width:49px;
		 opacity: .8;
		 border-radius: 15px;}
		 
.googleplus{position: relative;
 		 top:-87px;
 		 left:165px;
 		 z-index: 3;
 		 height:29px;
		 width:29px;
		 opacity: .8;
		 border-radius: 15px;}
		 
.dropdownsocial{position: absolute;
		top:73px;
		width:200px;
		height:50px;
		left:50px;
		}
		
.fab_button{background: url(/img/socialbuttons2.png)0 -416px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.fab_button:hover{background: url(/img/socialbuttons2.png)1px -465px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.twi_button{background: url(/img/socialbuttons2.png)0 -514px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.twi_button:hover{background: url(/img/socialbuttons2.png)0 -564px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		 
.email_button{background: url(/img/socialbuttons2.png)0 -618px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   
		
.email_button:hover{background: url(/img/socialbuttons2.png)0 -672px;
		   height:50px;
		   width:50px;
		   opacity: .9;
		   }
		   		   
#dropdown{
	position: fixed;
	height: 363px;
	width: 320px;
	background: black;
	opacity: 1;
	top: -410px;
	margin-left: auto;
	margin-right: auto;
	display: none;
	z-index: 300;
}
		  
.dropdownartist{ 
	top:4px;
	left:-2px;
	font-size: 10px;
	margin:0px 0px 0px 4px;
	width:150px;
	height:15px;
	}
	
h2, h4{
	font-weight: 100;
	position: relative;
	color:#a3a8a4;
	}	
		
.dropdowntitle{
	top:2px;
	left:-2px;
	font-size: 9px;
	margin:0px 0px 0px 4px;
	width:150px;
	height:15px;
	}		  
</style>