
/*  HTML5 Ã¢Å“Â° Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.6 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #0d95ff; color:#fff; text-shadow: none; }
::selection { background:#0d95ff; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #0d95ff; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #0685b1; }
a:hover { color: #056384; }

html { }


 /* Primary Styles
 */
body {
    background: #f0efec;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-weight: normal;
	color: #333c3f;
}

#container { 
	position: relative;
}
p {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    line-height:19px;
	color:#848484;
}


.box img {
	max-width: 100%;
}
.t_xs {
	width: 250px;
}
.t_xs img {
	max-width: 100%;
}
.permalink_page div.t_xs.post {
	width: 500px;
}
.permalink_page div.t_xs.post img {
	max-width: 100%;
}
.t_xl {
	width: 250px;
}
.t_xl img {
	max-width: 100%;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Header
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#header-container {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 999;
	position: fixed;
}
#site-header {
	background: #ffffff;
	display: table;
	height: auto;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-top: 4px #0685b1 solid;
}
#site-header h1 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 60px;
	line-height: 60px;
	margin-right: -999em;
	padding: 26px 0 20px 40px;
	display:table-cell;
	vertical-align:middle;
}
#site-header h1 a {
	color: #0685b1;
	text-decoration: none;
	text-transform: uppercase;
}
#site-header nav {
	display:table-cell;
	vertical-align:middle;
	padding: 26px 40px 20px 0;
	height: 100%;
}
#site-header nav ul {
	margin: 0;
	text-align: right;
}
#site-header nav ul li {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left: 16px;
}
#site-header nav ul li:first-child {
	padding-left: 0;
}
#site-header nav ul li a {
	text-decoration: none;
	color: #58676c;
}
#site-header nav ul li a:hover {
	color: #0685b1;
}
#reveal-corner {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	overflow: hidden;
}
#reveal-corner a {
	display: block;
	height: 30px;
	width: 30px;
}
#reveal-corner a strong {
	display: block;
	height: 30px;
	width: 30px;
	background: #0685b1;
	position: relative;
	top: -15px;
	left: -15px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
#reveal-corner a:hover strong {
	background: #056384;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	About
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#about {
	display: block;
	background: #0685b1;
	color: #ffffff;
	position: static;
	width: 100%;
	z-index: 1010;
	text-shadow: 0 0 1px #0685b1;
}
#iso-about {
	margin: 0 auto;
	padding-top: 45px;
	-webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
    width:100%;
    overflow: visible;
}

#theform{
	position: absolute !important;
	right:0px !important;
	top:40px !important;}
	
#codeform{position: relative;
right: 0px;
top: 0px;}

#about section {
	visibility: hidden;
	width: 230px;
	padding: 10px;
	margin: 0 30px 30px 0;
}
#about section#description, div#social {
	width: 540px;
}
#about section#theform{
	width: 290px;
}
#about section h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#about section img {
	max-width: 100%;
}
#about a {
	color: #ffffff;
}
#about p.btn {
	margin-bottom: 0;
}
#about p.btn a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.8;
	text-decoration: none;
}
#about p.btn a:hover {
	opacity: 1;
}
#about section#description h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#about section#description p {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: normal;
}
#about section#description #social {
	margin-top: 20px;
}
#about section#description .icon {
	float: right;
	border: 5px solid #ffffff;
	margin: 4px 0px 0px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#about section#twitter p em a {
	opacity: 0.6;
}
#about section#twitter p em a:hover {
	opacity: 1;
}
div#social h3 {
	margin-bottom: 0;
}
div#social ul {
	list-style-type: none;
	margin: 0;
}
div#social li {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0px 2px 6px 0px;
	line-height: 20px;
	display: inline-block;
}
div#social li:nth-child(9n+0) {
	margin-left: 0;
}
div#social li a {
	opacity: 0.75;
	-moz-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
}
div#social li a:hover {
	opacity: 1;
}
div#social li.social_behance a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) 0 0; }
div#social li.social_cargo a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -20px 0; }
div#social li.social_delicious a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -40px 0; }
div#social li.social_digg a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -60px 0; }
div#social li.social_dribbble a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -80px 0; }
div#social li.social_ember a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -100px 0; }
div#social li.social_etsy a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -120px 0; }
div#social li.social_facebook a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -140px 0; }
div#social li.social_ffffound a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -160px 0; }
div#social li.social_flickr a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -180px 0; }
div#social li.social_gowalla a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -200px 0; }
div#social li.social_lastfm a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -220px 0; }
div#social li.social_linkedin a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -240px 0; }
div#social li.social_skype a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -260px 0; }
div#social li.social_slideshare a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -280px 0; }
div#social li.social_stumbledupon a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -300px 0; }
div#social li.social_twitter a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -320px 0; }
div#social li.social_vimeo a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -340px 0; }
div#social li.social_youtube a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -360px 0; }
div#social li.social_email a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -380px 0; }
div#social li.social_forrst a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -400px 0; }
div#social li.social_soundcloud a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -420px 0; }
div#social li.social_formspring a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -440px 0; }
div#social li.social_foursquare a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -460px 0; }
div#social li.social_deviantart a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -480px 0; }
div#social li.social_website a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -500px 0; }
div#social li.social_rdio a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -520px 0; }
div#social li.social_myspace a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -540px 0; }
div#social li.social_google a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -560px 0; }
div#social li.social_spotify a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -580px 0; }
div#social li.social_pinterest a { background: url(http://static.tumblr.com/fftf9xi/eaFlp36o2/social-icons.png) -600px 0; }

#about section#instagram .photos {
	margin-bottom: 0;
}
#about section#instagram .photos img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#about section#instagram .photos img:nth-child(2n+0) {
	margin-right: 0;
}
#about section#liked ul#likes {
	margin: 0;
	list-style-type: none;
}
#about section#liked ul#likes blockquote {
	margin-top: -10px;
	border-left: 4px solid rgba(255,255,255,0.25);
	padding-left: 10px;
}
#about ul.flickrfeed {
	margin: 0;
	list-style-type: none;
}
#about ul.flickrfeed li {
	float: left;
	line-height: 0;
	margin: 0px 8px 8px 0px;
	border: 5px solid #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#about ul.flickrfeed li a {
	line-height: 0;
}
#about ul.flickrfeed li img {
	width: 65px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Main
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#main {
	padding: 100px 0 0 0;
	padding-top:180px !important;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#iso {
	padding: 10px;
	margin: 0 auto;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	border-radius: 10px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Posts
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.article-box {
	visibility: hidden;
	z-index: 50;
	opacity: 0;
	background-image: url(http://static.tumblr.com/fftf9xi/0rMllgsfy/corner-shadow.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	cursor:pointer;
	border-radius: 7px;
	margin: 0 0px 0px 0;
}
.isotope-item {
	opacity: 1;

	display: block;
}



article {
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor:hand;
}
article header {
	position: relative;
	margin-bottom: 1px;}
article img {
	max-width: 100%;
}
article h3 {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
}
article ul, article ol {
	margin-bottom: 12px;
}
article blockquote {
	border-left: 4px solid #eef0f0;
	padding-left: 10px;
    font-size:14px;
}
article .more-link {
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.pst-full p{
	overflow: hidden;
	}
body.permalink-page section.post-summary {
	display: none;
	background: inherit;
	
}

.post-full p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    line-height:24px;
	color:#888888;
	margin:10px;
}
    
.link article blockquote p{
	padding-bottom: 25px;}
	
.link .post-full blockquote {
	padding-bottom:40px;}

section.post-summary p {display: none;
}

.article-box .post-details {
	display: none;
}
#main .click-block {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: transparent;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Text
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.text h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 22px;
	padding-bottom: 10px;
	margin-bottom: 16px;
}
article.text h2 a {
	text-decoration: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Quote
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.quote h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	color: #58676c;
	padding-bottom: 10px;
	margin-bottom: 34px;
}
article.quote h3 {
	color: #0685b1;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Photo
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.photo h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	
}
article.photo header {
	margin-bottom: 0px;
	text-align: center;
}
article.photo header img {
	vertical-align: top;
}
article.photo header img a {
	line-height: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Photoset
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.photoset h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	
}
article.photoset header {
	margin-bottom: 0px;
	background: #e4e7e8;
}
.html_photoset {
	text-align: center;
	line-height: 0;
}
article.photoset header img {
	vertical-align: top;
}
article.photoset header img a {
	line-height: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Link
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.link h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 22px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Chat
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.chat h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 22px;
	padding-bottom: 10px;
	margin-bottom: 16px;
}
article.chat section p strong {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #58676c;
}
article.chat section p {
	padding-bottom: 6px;
	margin-bottom: 6px;
	border-bottom: 1px dashed #eef0f0;
}
article.chat section p:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Audio
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.audio h2 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0685b1;
}
article.audio header img {
	margin-bottom: 6px;
}
.article-box .player {
	background-color: #E4E4E4;
	display: block;
	line-height: 0;
	margin-bottom: 6px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Video
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.video h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	
}
article.video header {
	margin-bottom: 0px;
	line-height: 0;
	overflow: hidden;
}

.flash-wrapper {
	overflow: hidden;
}
.flash-wrapper object, .flash-wrapper embed, .flash-wrapper iframe {
	left: -3000px;
	position: absolute;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Ask
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article.ask h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	color: #58676c;
}
article.ask header {
	padding-bottom: 10px;
	margin-bottom: 16px;
	
}
article.ask .asker {
	margin-top: 6px;
}
article.ask .asker small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #58676c;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Post Meta
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul.post-meta {
	margin: -20px 0 0 0;
	list-style-type: none;
	display: block;
	position: absolute;
	bottom: 0;
	right:0;
	background-color: black;
}

.text ul.post-meta {
	bottom:0px;
	right:0px;
	}
	
.quote ul.post-meta {
	bottom:0px;
	right:0px;
	}
	
.link ul.post-meta {
	bottom:0px;
	right:0px;
	}
.article-box-hover ul.post-meta {
	display: none;
	text-align: right;
	position: relative;
	top:0px;
}
ul.post-meta li {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 8px;
}
ul.post-meta li:first-child{
	float: left;
	padding-top: 3px;
	padding-right: 0;
}
ul.post-meta li:last-child{
	padding-right: 0;
}
ul.post-meta li a {
	text-decoration: none;
	color: #58676c;
}
ul.post-meta li a:hover {
	color: #0685b1;
}
ul.post-meta li.timeago:before{
	content: "t";
	color: #0685b1;
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	display:none;
}
ul.post-meta li.comments:before{
	content: "w";
	color: #0685b1;
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	display: none;
}
ul.post-meta li.notes:before{
	content: "k";
	color: #0685b1;
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	display: none;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Post View
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333c3f;
	opacity: 0.75;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);

	z-index: 61;
}
html.ie6 #post-view, html.ie7 #post-view, html.ie8 #post-view {
	width: 640px;
	background: #ddd;
	position: absolute;
}
#post-view article {
	width: 640px;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow-y: hidden;
}
.permalink-page #post-view {
	position: absolute;
}
.permalink-page #post-view article {
	overflow-y: auto;
}
html.ie6 #post-view, html.ie7 #post-view, html.ie8 #post-view {
	overflow-y: visible;
}
#post-view article section.loading {}
#post-view article section.loading img {
	float: left;
	margin: 4px 12px 0 0;
}
#post-view section.post-summary {
	display: none;
}
#post-view {
	font-size: 13px;
	z-index: 1000;
}
#post-view h2 {
	font-size: 24px;
	padding-bottom: 0;
	margin-bottom: 31px;
	border-bottom: none;
}
#post-view article.audio h2 {
	font-size: 18px;
}
#post-view h3 {
	font-size: 16px;
}
#post-view .post-footer h3 {
	font-size: 12px;
	color: #58676c;
}
#post-view section small, #post-view article.chat section p strong {
	font-size: 12px;
}
#post-view-meta {
	margin: -10px 0 16px 0;
	padding: 0 0 10px 10px;
	list-style-type: none;
}
#post-view-meta li {
	float: left;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#post-view-meta li a {
	text-decoration: none;
	color: #58676c;
}
#post-view-meta li a:hover {
	color: #0685b1;
}
#post-view-meta li.close-post, #post-view-meta li.back-post {
	float: right;
}
#post-view-meta li.close-post:after, #post-view-meta li.back-post:after {
	content: "D";
	font-family: 'PictosRegular';
	margin: 0 0 0 4px;
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
}
#post-view-meta li.time-post:before {
	content: "t";
	text-transform: lowercase;
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
}
#post-view .post-details p {
	margin: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
#post-view .post-details p strong {
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#post-view .post-footer .comments {
	display: block;
	width: 426px;
	float: left;
}
#post-view .post-footer h3.disqus-title:before{
	content: "w";
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
#post-view .post-footer h3.share-title:before{
	content: "R";
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
#post-view .post-footer h3.notes-title:before{
	content: "k";
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
#post-view #disqus_thread {
	text-shadow: 0 0 0;
}
#post-view #disqus_thread h3{
	text-transform: none;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	color: #333c3f;
}
#post-view .post-footer .share-notes {
	display: block;
	width: 184px;
	float: right;
}
#post-view .post-footer .share-notes .share-button {
	width: 90px;
}
#post-view .post-share, #post-view .notes-holder {
	margin: 10px 0 20px 0;
}
.post-share-shorturl {
	margin-bottom: 10px;
}
.post-share-shorturl input {
	width: 174px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.share-facebook, .share-twitter, .share-gplus, .share-pinterest {
	float: left;
	display:block;
}
.post-share-facebook, .post-share-twitter {
	margin-right: 6px;
}
.disqus-loading {
	margin-top: 6px;
}
.disqus-loading img, img.loading-circle {
	float: left;
	margin: 2px 6px 0 0;
}
ol.notes {
	margin: 0;
	list-style-type: none;
}
ol.notes .action {
	display: none;
}
ol.notes li {
	display: inline-block;
}
ol.notes blockquote {
	display: none;
}
ol.notes li.more_notes_link_container {
	display: block;
	text-align: left !important;
}
ol.notes li.more_notes_link_container a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

#post-view .album-art {
	float: left;
	margin: 6px 16px 6px 0px;
	max-height: 250px;
	max-width: 250px;
}
#post-view .audio iframe {
	float: left;
	margin: 6px 16px 6px 0px;
	width: 250px;
	height: 330px;
}

#post-view .audio_player {
	margin-bottom: 6px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Footer
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#site-footer {
	position: fixed;
	z-index: 999;
	bottom: 0px;
	right: 30px;
}
#site-footer nav ul {
	list-style-type: none;
	float: left;
	display: block;
}
#site-footer nav ul li {
	float: left;
}

ul#site-meta {
	margin-right: 6px;
	padding: 6px 10px 7px 10px;
	background: #ffffff;
	 -webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	     -moz-border-radius-topleft: 4px;
	    -moz-border-radius-topright: 4px;
	         border-top-left-radius: 4px;
	        border-top-right-radius: 4px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	        box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
ul#site-meta li {
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
ul#site-meta li a {
	text-decoration: none;
}
ul#site-meta li:after {
	content: "\00a0\00a0|\00a0\00a0";
}
ul#site-meta li:last-child:after {
	content: "";
}
ul#pagination {
}
ul#pagination li {
	padding: 6px 10px;
	background: #0685b1;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	 -webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	     -moz-border-radius-topleft: 2px;
	    -moz-border-radius-topright: 2px;
	         border-top-left-radius: 2px;
	        border-top-right-radius: 2px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	        box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
body.infinite-scroll ul#pagination {}
html.ie6 body.infinite-scroll ul#pagination, html.ie7 body.infinite-scroll ul#pagination, html.ie8 body.infinite-scroll ul#pagination, html.ie9 body.infinite-scroll ul#pagination {
	display: block;
}
ul#pagination li a {
	color: #ffffff;
	text-decoration: none;
}
ul#pagination li.prev {
	margin-right: 6px;
}
ul#pagination li.prev:before {
	content: "[";
	font-family: 'PictosRegular';
	margin: 0 4px 0 0;
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
}
ul#pagination li.next:after {
	content: "]";
	font-family: 'PictosRegular';
	margin: 0 0 0 4px;
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
}
#infscr-loading {
	position: fixed;
	bottom: 40px;
	left: 50%;
	margin-left: -125px;
	z-index: 100;
	background: #ffffff;
	width: 250px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #58676c;
}

#tumblr_controls {
	position: fixed !important;
	top: 6px !important;
	right: 30px !important;
}




/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/* End: Recommended Isotope styles */

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}







::-webkit-scrollbar{width:6px;height:6px;}
::-webkit-scrollbar-button:start:decrement
::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#d8d8d8;-webkit-border-radius:0;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#58676c;-webkit-border-radius:3px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#58676c;-webkit-border-radius:3px;}

.tipsy { display:none; font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { display:none; background-color: #0685b1; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; text-shadow: none; }

/* Rounded corners */
.tipsy-inner { display:none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { display:none; position: absolute; width: 0; height: 0; border: 5px solid transparent; }

/* Rules to colour arrows */
.tipsy-arrow-n { display:none; border-bottom-color: #0685b1; }
.tipsy-arrow-s { display:none; border-top-color: #0685b1; }
.tipsy-arrow-e { display:none; border-left-color: #0685b1; }
.tipsy-arrow-w { display:none; border-right-color: #0685b1; }

.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow {  display:none;top: 0; border-top: none; }
.tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { display:none; bottom: 0; border-bottom: none; }
.tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { display:none; left: 50%; margin-left: -5px; }
.tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { display:none; left: 10px; }
.tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { display:none; right: 10px; }
.tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { display:none; top: 50%; margin-top: -5px; }
.tipsy-e .tipsy-arrow { display:none; right: 0; border-right: none; }
.tipsy-w .tipsy-arrow { display:none; left: 0; border-left: none; }



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

#dsq-content #dsq-global-toolbar .dsq-toolbar-item {
	overflow: hidden !important;
	text-align: left !important;
	direction: ltr !important;
}


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.customize-embed:before {
	content: "Flash Disabled in Customize Mode";
	height: 24px;
	width: 100%;
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: 0;
	font-weight: normal;
	font-size: 11px;
	color: #AAAAAA;
	font-family: "Helvetica Neue", sans-serif !important;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
	letter-spacing: 1px;
}
.customize-embed {
	-moz-box-shadow: inset 0 1px 0px rgba(100, 100, 100, 1);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
	background: rgb(51,51,51);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
}
.customize-embed iframe, .customize-embed embed, .customize-embed object {
	display: none;
}
.customize-audio {
	display: block;
	height: 27px;
	width: 207px;
	background-image: url(http://static.tumblr.com/fftf9xi/r0blwhruz/audio-players.png);
}
.customize-audio.white {
	background-position: 0px 0px;
}
.customize-audio.grey {
	background-position: 0px -27px;
}
.customize-audio.black {
	background-position: 0px -54px;
}
.customize-audio embed {
	display: none;
}

ul.post_type {
	position: relative;
	bottom: -7px;
	right: 33px;
	z-index: 1000;
}
ul.post_type li {
	float: right;
	margin-left: 4px;
}
ul.post_type li a {
	display: block;
	height: 20px;
	width: 20px;
	text-indent: 1000px;
	opacity: 0.5;
}
ul.post_type li a:hover {
	opacity: 1;
}

.notes a{display: block;}
ul.post-meta .notes {display: block;}
.photo{width:256px;}
.cornerstamp{
	width: 522px;
	height: 200px;
	margin:5px;
	}

.article-box .feature{
width: 522px;}
.feature img{width:100%}
.png{width: 256px; background: none;}
.png img{width:100%}


	

.article-box .cars{ 
	width:256px;}
	
.bike{ width:256px;}

.article-box .girl{
width:256px;
}

.article-box .girls{ 
width:256px;
}

.article-box .art{
width:256px;}

.text, .link{
	width:256px;
	background: #252525;}

.video, .quote{
width:522px; }




/*#photocaption{
width: 100%;
margin-left: auto;
margin-right: auto;
display: none;
background:#252525;
color:#848484;
}*/


.png ul.post-meta {display:none;}

#theheader{
	background: black;
	width: 100%;
	height: 530px;
	position: absolute;
	top: -310px;
	z-index: 1000;
	display: block !important;}

.headerbuttons{
	display:block;
	position:absolute;
	right:0;
	bottom:153px;
	}

#backbutton {
	cursor:hand;
	display:block;
	margin-right:10px;
	float:left;
	opacity: .7;
	background:#252525;
	padding:15px;
	z-index: 3000;
	color:white;
	font:bold 14px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration:none;
}
	
#aboutbutton{
	cursor:hand;
	display:block;
	margin-right:10px;
	float:left;
	opacity: .7;
	background:#252525;
	padding:15px;
	z-index: 3000;
	color:white;
  font:bold 14px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration:none;
	}
	
#involvedbutton{
	cursor:hand;
	display:block;
	float:left;
	opacity: .7;
	background:#252525;
	padding:15px;
	z-index: 3000;
	color:white;
  font:bold 14px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration:none;
	}
	#involvedbutton span{
		position:relative;
		top:-1px;
	font: 12px/12px 'PictosRegular';
	text-transform: none;
	}
	
#sharebutton{
	cursor:hand;
	display:block;
	margin-right:10px;
	float:left;
	opacity: .7;
	background:#252525;
	padding:15px;
	z-index: 3000;
	color:white;
  font:bold 14px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration:none;
	}
	
#backbutton:hover,#aboutbutton:hover,#involvedbutton:hover,#sharebutton:hover{
	background:#ffde00;
	opacity: 1;
	color:black}
	
#logo{background:url(http://static.tumblr.com/hl0lmdc/eM1m57rrx/logo.png);
	  height:540px;
	  width:1060px;
	  background-repeat: no-repeat;
	  margin-left: auto;
	  margin-right:auto;
	  display: block;
	  position: relative;}
	  
	  

	  
textarea{
	color: #848484;
	background: #252525;
	border: 1px #252525;
	}

.codetext{
	width:300px;
	color:#848484;
	}

.headertitle{
  font:bold 18px/32px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
	}	
#showsupport{
	position: absolute;
	left: 71px;
	top: -27px;
	}
#whatisundroppable{
	position: absolute;
	left:0px;
	top:0px;}
	
#whatis{
	position: absolute;
	left: 80px;
	top: 12px;
	width: 190px;}
	
.aboutparagraph{
	position: absolute;
	left: 40px;
	top: 40px;
	color: #848484;
	width: 283px;
}

#getinvolved{
	position: absolute;
	left:364px;
	top:0px;}
	
#involved{
	position: absolute;
	left: 80px;
	top: 12px;
	width: 190px;}
	
.involvedparagraph{
  font:14px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: absolute;
	left: 40px;
	top: 40px;
	color: #848484;
	width: 283px;
    line-height: 19px;
}

	
#seewhosinvolved{
	background:url(http://static.tumblr.com/j2jqspv/i26m5azxd/involved_button.jpg);
	height: 36px;
	width: 209px;
	position: absolute;
	top: 240px;
	left: 62px;}
	

.link a{
	text-decoration: none;}

	
.text .post-full{
}



/* George's */

a,a:visited,a:active{
    color:#fff;
    text-decoration:underline;
    }

/* POSTS */
.article-box {
}
article{
  display:block;
  position:relative;
  background:#000;
  margin:5px;
  overflow:hidden;
  padding:0px;
  
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
article > section{
    margin:0;
}
article > header{
    width:100%;
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
}
article > header p {
  min-height:206px;
  padding:34px 15px 34px 15px;
    margin:0;
    
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
}
article > header > a{
  display:table;
  min-height:128px;
  width:100%;

  text-decoration:none;
}
article > header > a > p{

  background:#333;
  
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;}

article > header > a > p:hover{
  background:#444;
}

/* FEATURED POSTS */

.video.featured,.quote.featured{
	width:788px;
}
.photo.featured,.text.featured,.link.featured,.audio.featured,.photoset.featured{
	width:522px;
}

/* POST META */

ul.post-meta{
    z-index:10;
}
ul.post-meta > li {
  float:left;
  display:block;
  height:34px;
}
ul.post-meta > li.timeago {
  font:12px "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding:0 15px 0 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:34px;
}
ul.post-meta > li.timeago > a {
  color:#fff;
  text-decoration:none;
}

/* POST CAPTION */

section.post-caption{
  display:block;
}
section.post-caption > div{
    display:none;
}
article.photo:hover > section.post-caption > div{
    display:block;
  position:absolute;
  top:0;
  left:0;
  
  margin:34px 0 34px 0;

  width:75%;
  max-height:80%;
  
  border-left:10px solid rgb(0,0,0);
  border-color:rgba(0,0,0,0.6);
}
article.video:hover > section.post-caption > div{
    display:block;
  z-index:5;
  position:absolute;
  top:0;
  left:0;
  
  margin:34px 0 34px 0;

  width:75%;
  max-height:80%;
  
  border-left:10px solid rgb(0,0,0);
  border-color:rgba(0,0,0,0.6);
}

section.post-caption > div p,span,blockquote{
    display:inline;
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  border:0;
    
}
section.post-caption > a,a:visited,a:active,a:hover{
  color:#fff;
    
    }
section.post-caption > div span{
  background:rgb(0,0,0);
  background:rgba(0,0,0,0.6);
  
}

/* HOVER */
article > header > a > img,article > header > img{
  opacity:.4;
  filter:alpha(opacity=40);
  zoom:1;
  width:100%;
}
.article-box:hover article > header > a > img,.article-box:hover article > header > img{
  opacity:1;
  filter:alpha(opacity=100);
  zoom:1;
}
article > header > a > div{
  opacity:.4;
  width:100%;
}
.article-box:hover article > header > a > div{
  opacity:1;
}
article.video header{
	overflow:visible;
	display:block;
}
article.video > header > a{
	z-index:7;
}
article.video > header > iframe{
	z-index:8;
}

article.photoset header {
    opacity: .4;
	}
	
article.photoset header:hover {
	opacity: 1;
	}
	
/* VIDEO */

article.video{
    
}
article.video li.icon{
    height:34px;
  width:34px;
  background-color:#ffde00;
  background-image:url(http://static.tumblr.com/hl0lmdc/e40m595xw/icon-video.png);
}
#post-view article.video{
    border-top:3px solid #ffde00;
}
article.video iframe{
	background-color:#000;
}

/* PHOTO */

article.photo{
	background:#000;
}
article.photoset{
	background:#000;
}
.photo img{
    max-width:100%;
    height:auto;
}
.photoset img{
    max-width:100%;
    height:auto;
}
article.photo li.icon{
  width:34px;
  height: 34px;
  background-color:#39b54a;
  background-image:url(http://static.tumblr.com/hl0lmdc/eV4m595vh/icon-photo.png);
}
article.photoset li.icon{
  width:34px;
  height: 34px;
  background-color:#39b54a;
  background-image:url(http://static.tumblr.com/hl0lmdc/eV4m595vh/icon-photo.png);
}
#post-view article.photo{
    border-top:3px solid #39b54a;
}
#post-view article.photoset{
    border-top:3px solid #39b54a;
}


/* TEXT */

article.text > header > a > p{
	color:#555;
  background-image:url(http://static.tumblr.com/hl0lmdc/jmym5960w/mark-text.png);
  background-repeat:no-repeat;
}
article.text:hover > header > a > p{
	color:#fff;
}
article.text li.icon{
    height:34px;
  width:34px;
  background-color:#448ccb;
  background-image:url(http://static.tumblr.com/hl0lmdc/RrPm595xd/icon-text.png);
}
#post-view article.text{
    border-top:3px solid #448ccb;
}
#post-view article.text p:first-child{
  font:"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
}
}
#post-view article.text p:first-child a{
  text-decoration:none;
}


/* QUOTE */



article.quote > header > p, article.quote > header > p span{
    color:#555;
    min-height:180px;
    
  background-image:url(http://static.tumblr.com/hl0lmdc/p7zm5960f/mark-quote.png);
  background-repeat:no-repeat;
	background-color:#333;

}
article.quote:hover > header > p, article.quote:hover > header > p span{
	color:#fff;

  background-image:url(http://static.tumblr.com/hl0lmdc/p7zm5960f/mark-quote.png);
  background-repeat:no-repeat;
	background-color:#434343;
}
article.quote li.icon{
    height:34px;
  width:34px;
  background-color:#a44cc5;
  background-image:url(http://static.tumblr.com/hl0lmdc/lsIm595w3/icon-quote.png);
}
#post-view article.quote{
    border-top:3px solid #a44cc5;
}
article.quote .post-full{
    text-transform:uppercase;
    letter-spacing:2px;
  font:bold 14px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#777;
}
article.quote .post-full p{
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  text-transform:none;
}

article.quote > section.post-summary{
    
  padding:0 15px 44px 15px;
    margin:0;
    
    
}
article.quote > section.post-summary,section.post-summary a{
    text-transform:uppercase;
    letter-spacing:2px;
  font:bold 14px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#777;
    }

/* LINK */

article.link > header > a > p{
	color:#555;
  background-image:url(http://static.tumblr.com/hl0lmdc/t45m595zw/mark-link.png);
  background-repeat:no-repeat;
  text-decoration:underline;
}
article.link:hover > header > a > p{
	color:#fff;
}
article.link li.icon{
  width:34px;
  height:34px;
  background-color:#de474d;
  background-image:url(http://static.tumblr.com/hl0lmdc/VXUm595tg/icon-link.png);
}
#post-view article.link{
    border-top:3px solid #de474d;
}


/* AUDIO */
article.audio{
	width:256px;
}
article.audio:hover > header p{
  background-image:url(http://static.tumblr.com/hl0lmdc/fvfm595zh/mark-audio.png);
  background-repeat:no-repeat;
	background-color:#434343;
}
#post-view article.audio{
	width:640px;
}
article.audio > header > a{
    text-decoration:none;
    }
article.audio > header > a > p{
	width:100%;
	min-height:256px;
	padding:0;
	margin:0;
  background-image:url(http://static.tumblr.com/hl0lmdc/fvfm595zh/mark-audio.png);
  background-repeat:no-repeat;
}
article.audio li.icon{
  width:34px;
  height: 34px;
  background-color:#f7841d;
  background-image:url(http://static.tumblr.com/hl0lmdc/X3Vm595sk/icon-audio.png);
}
#post-view article.audio{
    border-top:3px solid #f7841d;
}
#post-view article.audio .post-full{
	padding-top:10px;
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff; 
  padding-bottom:26px;
}

/* Day 2 */
.post-full{
    display: none;
}
.post-full{
    margin:0;
}

/*=================== OVERLAY POST VIEW STYLING =====================*/

.permalink-page article{
	width:640px;
}
}

.prev-post{
	cursor:hand;
    display:block;
    position:absolute;
    top:0;
    left:0;
    
    
}
.next-post{
	cursor:hand;
    display:block;
    position:absolute;
    top:0;
    right:-47px;
    
    
}
#leftbutton{
	cursor:hand;
    background-image:url(http://static.tumblr.com/hl0lmdc/fNKm5967s/left.png);
    height: 130px;
    width: 148px;
}
#rightbutton{
	cursor:hand;
    background-image:url(http://static.tumblr.com/hl0lmdc/3xTm5968v/right.png);
    height: 130px;
    width: 148px;
}

#article-holder{
    display:block;
    z-index:9000;
    
    position:fixed;
    top:20px;
    left:50%;
    margin:0 0 0 -340px;
    padding:0;
    
    width:680px;
    
    background:#222;
}


#post-view .post-full{
    display: block;
}
#post-view{
	z-index:1300;
}

#post-view article{
    display:block;
    position:absolute;
    top:0;
    left:0;
    margin:20px;
    width:626px;
    padding: 20px;
    border-radius: 10px;
    background:#252525;
    }

#post-view article > header{
    background:none;
}


article > header > a > img{
    width:100%;}
    
/* day 3 */
    
#post-view header{
    display:none;
}

#post-view article{
-moz-box-shadow: 0px 0px 0px #111;
-webkit-box-shadow: 0px 0px 0px #111;
box-shadow: 0px 0px px #111;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
	border-radius: 0;
}

.post-image-holder{
    display:block;
    width:100%;
    background:#1a1a1a;
}
.post-image-holder img{
    display:block;
    margin:0 auto 0 auto;
    padding:10px 0 10px 0;
}

.post-details{
	background: #191919;
	margin-top:10px;
	margin-bottom: 25px;
    
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
-moz-box-shadow: inset 5px 5px 10px #111;
-webkit-box-shadow: inset 5px 5px 10px #111;
box-shadow:inset 5px 5px 10px #111;

    }

#post-view .post-details p{
    	display:block;
	    padding:5px 10px 0 10px;
    }
    #post-view .post-details p:last-child{
    	padding-bottom:5px;
    }
    #post-view .post-details p a{
    	color:#aaa;

    }
    
#post-view .post-details p strong,
#post-view .post-footer h3.notes-title,
#post-view .post-footer h3.share-title{
    text-transform:uppercase;
    letter-spacing:2px;
  font:bold 12px/12px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#555;
  
          
        }



.post-meta-overlay, #post-view .post-meta{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	height: 34px;
	margin: 0;
	width:100%;
}

.post-meta-overlay li,#post-view .post-meta li{
	display: block;
	float:left;

}

.photoset{width:256px;}

.post-meta-overlay li.timeago,#post-view .post-meta li.timeago {
  font:12px "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding:0 15px 0 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:34px;
  background:#111;
  color:#fff;
}
.post-meta-overlay  li.timeago > a,#post-view .post-meta li.timeago > a {
  color:#fff;
  text-decoration:none;
}
.close-post,.clos-post{
	position: absolute;
	right:0;
	top:0;
}
.close-post a,.clos-post a{
	display:block;
	width:69px;
	height:69px;
	background-image:url(http://static.tumblr.com/hl0lmdc/Cswm595ry/close.png);
}

.close-post a:hover,.clos-post a:hover{
	background-image:url(http://static.tumblr.com/hl0lmdc/PUSm595r9/close-h.png);
}

#post-view-meta{
    display:block;
    position:fixed;
    top:120px;
    left:50%;
    margin:0 0 0 -370px;
    padding:0;
    z-index:8000;
    width:730px;
    height:121px;
}


.video > ul.post-meta-overlay > li.icon{
  width:34px;
  height: 34px;
  background-color:#ffde00;
  background-image:url(http://static.tumblr.com/hl0lmdc/e40m595xw/icon-video.png);
}



.audio > ul.post-meta-overlay > li.icon{
  width:34px;
  height: 34px;
  background-color:#f7841d;
  background-image:url(http://static.tumblr.com/hl0lmdc/X3Vm595sk/icon-audio.png);
}
.quote > ul.post-meta-overlay > li.icon{
  width:34px;
  height: 34px;
  background-color:#a44cc5;
  background-image:url(http://static.tumblr.com/hl0lmdc/lsIm595w3/icon-quote.png);
}
#overlay {
	background: #000000;
	opacity: 0.85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	z-index: 1200;
}
#description{
color: white;
position: absolute;
left: 190px;
bottom: 146px;
font-size: 30px;}

/*============== OVERLAY TEXT STYLING ==================== */


article.link .post-full a{
  text-decoration:underline;
}
article.link .post-full a > p{
  font:bold 28px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#fff;
  margin:10px;
}

/*========================NOTES==========================*/


ol.notes {
	margin: 0;
	list-style-type: none;
}
ol.notes .action {
	display: inline;
	font:bold 12px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#888;
}
ol.notes li {
	display: block;
	padding:10px;
	margin:0 20px 0 0;
	border-top:1px dotted #444;
}
ol.notes li:last-child{
	border-bottom:1px dotted #444;
}
ol.notes li a img{
	display:inline-block;
	position:relative;
	top:3px;
	margin:0 5px 0 0;
}
ol.notes li a,ol.notes li span,ol.notes li span a{
	display: inline;
}
ol.notes li a,ol.notes li span a{
	color:#aaa;
	text-decoration:underline;
}
ol.notes blockquote {
	display: block;
	border:0;
	border-left:2px solid #333;
	color:#888;
	font:italic 12px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ol.notes li.more_notes_link_container {
	display: block;
	text-align: left;
}
ol.notes li.more_notes_link_container a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}


/*================SCROLLBAR===============*/
::-webkit-scrollbar{width:10px;height:10px;margin-top:20px;}
::-webkit-scrollbar-button:start:decrement
::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{width:8px;background-color:transparent;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#333;-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#333;-webkit-border-radius:5px;}

/*================== DISABLE BOTTOM NAV & BODY BG ==================*/
#site-footer ul{
	background:transparent;
}
body{
      background:url(http://static.tumblr.com/j2jqspv/hv1m4wr9s/bg.jpg);
background-attachment:fixed;
}

/* DAY_JUNE 5 */

/* removed stylehatch css */

.link post-summary{
    display: none;
	}

#drawer-social{
	position:relative;
}

#twitter_button{
	position: absolute;
	top: 0;
	left: 0;
	}	
#facbook_button{
	position: absolute;
	top: 31px;
	left: 0;
	}

#utube_button{
	position: absolute;
	top: 58px;
	left: 0;
}
#emailus{
	position:absolute;
	top:210px;
	display:block;
	background:url(http://static.tumblr.com/j2jqspv/0EPm5azw4/email_button.png);
	height: 30px;
	width: 98px;
	}
	
/*#involvedbutton{
	position: absolute;
	right:70px;
	bottom:153px;
	z-index: 3000;
	cursor: default;
	}*/
	
#shareusdropdown{
display: none;

height: 85px;
width: 120px;
background: #2a2a2a;
position: absolute;
right: 150px;
top: 400px;

padding:10px;


border:3px solid #ffde00;
border-radius: 10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;

z-index:2000;
}
#shareusdropdown div{
	display:block;
}
#shareuspointer{
display: none;

position: absolute;

right: 215px;
top: 393px;
	width:20px;
	height:20px;
	background:#ffde00;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	z-index:1999;
}
#shareusshadow{
display: none;

height: 78px;
width: 120px;
background: #2a2a2a;
position: absolute;
right: 150px;
top: 400px;
border-radius: 10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-moz-box-shadow: 0px 0px 15px #000; 
-webkit-box-shadow: 0px 0px 15px #000; 
box-shadow: 0px 0px 15px #000;
z-index:1998;	
}

.post-view .post-image-holder {
	background:none;}
	
#fab_button{
	background:url(http://static.tumblr.com/j2jqspv/QtQm5bcdu/share_button.png);
	height:18px;
	width:57px;
	}

#tweet_share{
}

#facbook_share{
}

#logo{background:url(http://static.tumblr.com/hl0lmdc/eM1m57rrx/logo.png);
	  height:540px;
	  width:1060px;
	  background-repeat: no-repeat;
	  margin-left: auto;
	  margin-right:auto;
	  display: block;
	  position: relative;}

#school-student-name{
	position:absolute;
	left:175px;
	top:350px;
	display:block;
	color:#fff;
	font:bold 36px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.FBConnectButton_Small .FBConnectButton_Text {
	margin-left: 0px !important;
	}
	
.fb_share_count_right {
	display: none !important;
	}
.fb_share_count_nub_right {
	display: none !important;
	}
	
#goggle_button{
}
#pinter_button{
}

/*================= PAGE TITLES ===================*/

#page-title-container{
	display:block;
	width:1061px;
	margin:10px auto 5px auto;
	position:relative;
	top:200px;

	color:#fff;
	font:bold 18px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	letter-spacing:2px;

	text-align:center;
}

#page-title{
	width:100%;

	text-align:center;
	font:bold 18px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;

}
#iso{
	margin-top:20px;
}


/* John Wednesday */

.prev-post{
    display:block;
    position:absolute;
    top:0;
    left:0;
    }
    
.wV{
    display: none !important;
	}
	
/*================ HEADER CONTENT ==================*/

#header-content{
	position:absolute;
	top:0;
	left:50px;

	width:1000px;
	height:310px;
}
#header-content-left{
	position:relative;

	width:660px;
	height:290px;

	padding:20px 0 0 0;
	margin:0 40px 0 0;
}
#header-content-left h2,#header-content-right h2{
	font:bold 18px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration:none;
	color:white;	
}
#header-content-left p{
	font:14px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration:none;
	color:#999;	
}
.header-content-left img{
	float:right;
	margin:5px 0 10px 10px;

	-moz-box-shadow: 0px 0px 15px #000;
	-webkit-box-shadow: 0px 0px 15px #000;
	box-shadow: 0px 0px 15px #000;
}
#header-content-right{
	position:absolute;
	top:0px;
	left:700px;
	padding:20px 0 0 0;

	width:100px;
	height:290px;

	float:right;
}

#swi-button{
	display:block;
	width:232px;
	background:#333;
	padding:10px;
	border:2px solid #3a3a3a;
	margin:10px 0 0 0;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 15px #111;
	-webkit-box-shadow: 0 0 15px #111;
	box-shadow: 0 0 15px #111;
	-moz-box-shadow: inset 5px 5px 20px #222;
	-webkit-box-shadow: inset 5px 5px 20px #222;
	box-shadow: inset 5px 5px 20px #222;

	font: bold 18px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#aaa;
	text-decoration:none;
}

#swi-button:hover{
	background:#ffde00;
	-moz-box-shadow: inset 0 0 0 #222;
	-webkit-box-shadow: inset 0 0 0 #222;
	box-shadow: inset 0 0 0 #222;
	color:#333;
	border:2px solid #fff;
}

#swi-button span{
		position:relative;
		top:-2px;
	font: 12px/12px 'PictosRegular';
	text-transform: none;
	color:#111;
}

article.audio{
    background-color:#333;
    }
article.audio:hover{
    background-color:#444;
    }
article.video iframe {
	width:615px;
	height:360px;
	}
.article-box.video iframe {
	width:615px;
	height:360px;
	}